[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4>=4.14.3",
    "fastapi>=0.129.0",
    "finnhub-python>=2.4.27",
    "httpx>=0.28.1",
    "uvicorn>=0.40.0",
]
